<div class="row">
  <div class="col-md-12 text-md-center">
    <h1>Footballry</h1>
  </div>
</div>
<div style="padding-bottom: 50px" class="row text-xs-center">
  <%= render partial: 'layouts/menu' %>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th class="col-md-8">Topic</th>
        <th class="col-md-1">Posts</th>
        <th class="col-md-3">Last Posts</th>
      </tr>
      </thead>
      <tbody>
      <% if !@topics.nil? %>
        <% @topics.each do |topic| %>
          <% if !topic.nil? %>
            <tr>
              <td class="col-md-8"><%= link_to topic.title, topic %></td>
              <td class="col-md-1"><%= topic.posts.count %></td>
              <% if !topic.posts.last.nil? %>
                <td class="col-md-3 last_post"><%= topic.posts.last.title %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



