<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @topic.title == 'News' %>
        <h1>Add News</h1>
    <% elsif @topic.title == 'Marketplace' %>
        <h1>Add Product</h1>
    <% elsif @topic.title == 'Video' %>
        <h1>Add Video</h1>
    <% else %>
        <h1>New Post</h1>
    <% end %>
  </div>
</div>
<%= render 'form', {post: @post, topic: @topic} %>
