.main {
  padding-top: 40px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.head {
  padding-bottom: 50px;
}

.nav-container {
  text-align: center;
}
.nav-container ul {
  display: inline-block;
}